body {
  cursor: default;
  font-family: 'Josefin Sans', sans-serif;
  background: #eee;
  margin: 0;
}

button {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  height: 30px;
  width: 160px;
  line-height: 30px;
  border-radius: 0%;
  border: 1px solid #eee;
  background: #f8f8f8;
}
  button:nth-of-type(1) {
    margin: 18px 20px 9px 42px;
  }
  button:nth-of-type(2) {
    margin: 18px 42px 9px 20px;
  }
  button:nth-of-type(3) {
    margin: 9px 20px 18px 42px;
  }
  button:nth-of-type(4) {
    margin: 9px 42px 18px 20px;
  }
  button:focus {
    outline: none;
  } 
  button:hover {
    border: 1px solid #ee0000;
  }

#outer {
  height: 720px;
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -360px 0 0 -240px;
}

#inner {
  height: 680px;
  width: 450px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -340px 0 0 -225px;
  border: 1px solid black;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 16px #bbb;
     -moz-box-shadow: 2px 4px 16px #bbb;
         -box-shadow: 2px 4px 16px #bbb;
}

#title {
  font-size: 32px;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #ee0000;
  color: #f8f8f8;
  text-shadow: 1px 1px 2px #121212; 
}

#answer {
  font-size: 56px;
  text-align: center;
  height: 80px;
  line-height: 80px;  
  border-top: 1px solid black;
  background: #fff;
}

#feedback {
  font-size: 22px;
  text-align: center;
  line-height: 24px;
  height: 22px;
  border-top: 1px solid black;
  background: #eee;
  padding: 14px 0;
  -webkit-transition: background 0.125s, transform 0.25s;
     -moz-transition: background 0.125s, transform 0.25s;
       -o-transition: background 0.125s, transform 0.25s;
         -transition: background 0.125s, transform 0.25s;
}

#squares {
  height: 278px;
  position: relative;
  border-top: 1px solid black;
  background: #cc0000;
}

#options {
  height: 118px;
  border-top: 1px solid black;
  background: #121212;
}

#title, #answer, #squares {
  padding: 20px 0;
}

.square {
  float: left;
  font-size: 34px;
  line-height: 120px;
  text-align: center;
  height: 120px;
  width: 120px;
  opacity: 1;
  border: 1px solid black;
  background: #fff;
  -webkit-box-shadow: 1px 2px 4px #121212;
     -moz-box-shadow: 1px 2px 4px #121212;
         -box-shadow: 1px 2px 4px #121212;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
}
  .square:nth-of-type(1), .square:nth-of-type(4) {
    margin: 8px 8px 8px 24px;
  }
  .square:nth-of-type(2), .square:nth-of-type(5) {
    margin: 8px 8px 8px 8px;
  }
  .square:nth-of-type(3), .square:nth-of-type(6) {
    margin: 8px 24px 8px 8px;
  }

.fade {
  opacity: 0;
}

.active-button {
  color: #eee;
  text-shadow: 1px 1px 2px #121212; 
  background: #ee0000;
  border-top: 1px solid #980000;
  border-right: 1px solid #ff7c7c;
  border-bottom: 1px solid #ff7c7c;
  border-left: 1px solid #980000;
}

.inactive-button, .inactive-div {
  background: #bbb;
  border-top: 1px solid #eee;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #eee;
}
  .inactive-button:hover {
    background: #f8f8f8;
  }

.inactive-div {
  background: #eee;
}
  .inactive-div:hover {
    background: #fff;
  }

.gameover-feedback {
  background: #ffeb3b !important;
}

.gameover-button {
  background: #ffeb3b !important;
  border-top: 1px solid #9c8c00 !important;
  border-right: 1px solid #fff283 !important;
  border-bottom: 1px solid #fff283 !important;
  border-left: 1px solid #9c8c00 !important;
  -webkit-transition: background 0.125s;
     -moz-transition: background 0.125s;
       -o-transition: background 0.125s;
          transition: background 0.125s;
}

.expand {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
         -transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
         -transition-timing-function: ease-out;
}

.contract {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
       -o-transform: scale(1);
         -transform: scale(1);
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
         -transition-timing-function: ease-in;
}

@media all and (max-width: 575px) {
  button {
    width: 125px;
    font-size: 14px;
    padding: 0;
  }
  button:nth-of-type(1) {
    margin: 12px 6px 6px 16px;
  }
  button:nth-of-type(2) {
    margin: 12px 16px 6px 6px;
  }
  button:nth-of-type(3) {
    margin: 6px 6px 12px 16px;
  }
  button:nth-of-type(4) {
    margin: 6px 16px 12px 6px;
  }
  #outer {
    height: 568px;
    width: 320px;
    margin: -284px 0 0 -160px;
  }
  #inner {
    height: 556px;
    width: 300px;
    margin: -280px 0 0 -150px;
  }
  #title {
    font-size: 22px;
    line-height: 22px;
    height: 22px;
    width: 100%;
  }
  #answer {
    font-size: 50px;
    line-height: 64px;
    height: 64px;
  }
  #feedback {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 12px 0;
  }
  #squares {
    height: 194px;
  }
  #options {
    height: 99px;
  }
  #title, #answer, #squares {
    padding: 22px 0;
  }
  .square {
    font-size: 28px;
    line-height: 86px;
    height: 86px;
    width: 86px;
  }
  .square:nth-of-type(1), .square:nth-of-type(4) {
    margin: 4px 4px 4px 10px;
  }
  .square:nth-of-type(2), .square:nth-of-type(5) {
    margin: 4px 4px 4px 4px;
  }
  .square:nth-of-type(3), .square:nth-of-type(6) {
    margin: 4px 10px 4px 4px;
  }
}

@media all and (max-width: 320px) {
  button {
    width: 119px;
    font-size: 12px;
    padding: 0;
  }
  button:nth-of-type(1) {
    margin: 6px 4px 4px 14px;
  }
  button:nth-of-type(2) {
    margin: 6px 14px 4px 4px;
  }
  button:nth-of-type(3) {
    margin: 4px 4px 6px 14px;
  }
  button:nth-of-type(4) {
    margin: 4px 14px 6px 4px;
  } 
  #outer {
    height: 460px;
    width: 300px;
    margin: -230px 0 0 -150px;
  }
  #inner {
    height: 440px;
    width: 280px;
    margin: -220px 0 0 -140px;
  }
  #title {
    font-size: 20px;
    line-height: 16px;
    height: 16px;
    width: 100%;
  }  
  #answer {
    font-size: 46px;
    line-height: 60px;
    height: 60px;
  }
  #feedback {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    padding: 10px 0;
  }
  #squares {
    height: 160px;
  }
  #options {
    height: 80px;
  }
  #title, #answer, #squares {
    padding: 14px 0;
  }
  .square {
    font-size: 26px;
    line-height: 70px;
    height: 70px;
    width: 70px;
  }
  .square:nth-of-type(1), .square:nth-of-type(4) {
    margin: 4px 4px 4px 24px;
  }
  .square:nth-of-type(2), .square:nth-of-type(5) {
    margin: 4px 4px 4px 4px;
  }
  .square:nth-of-type(3), .square:nth-of-type(6) {
    margin: 4px 24px 4px 4px;
  }
}
